@font-face {
    font-family: Cera Pro;
    src: local("Cera Condensed Pro Black"), local("CeraCondensedPro-Black"), url("../fonts/CeraCondensedPro/CeraCondensedPro-Black.woff") format("woff");
    font-style: normal;
    font-weight: 900;
    font-stretch: condensed;
    font-display: swap;
}

@font-face {
    font-family: Cera Pro;
    src: local("Cera Condensed Pro Regular"), local("CeraCondensedPro-Regular"), url("../fonts/CeraCondensedPro/CeraCondensedPro-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-stretch: condensed;
    font-display: swap;
}

@font-face {
    font-family: Cera Pro;
    src: local("Cera Pro Regular"), local("CeraPro-Regular"), url("../fonts/CeraPro/CeraPro-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont.a738a13.woff2") format("woff2-variations");
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}

body {
    font-family: Cera Pro, sans-serif !important;
    font-stretch: normal !important;
    font-feature-settings: "kern";
    font-kerning: normal;
    text-rendering: optimizeLegibility;
}

.story img {
    border-radius: 3px;
}

@media screen and (max-width: 1023px) {
    .product_img_wrap {
        height: 150px !important;
        width: 150px !important;
    }
    .product_img {
        width: 135px !important;
    }
    .menu {
        padding-right: 24px;
        padding-left: 24px;
    }
    .menu_title {
        font-size: 25px !important;
        line-height: 35px !important;
    }
    .categor_eat:first-child {
        padding-left: 24px !important;
        padding-right: 24px !important;
    }
    .restorants {
        align-items: center;
        justify-content: center;
    }
    .restorant {
        margin-left: 0;
        margin-right: 0;
    }
    .nav-container-sticky {}
    .navbar-brand .navbar-item {
        padding-top: 0;
    }
    .coookie-desktop {
        height: 200px;
        width: 330px;
        background-color: #FFF;
        padding: 24px;
        position: fixed;
        left: calc(50% - 165px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .14);
        z-index: 10;
        border-radius: 8px 8px 0 0;
        bottom: 0;
    }
    .btn-cart {
        position: fixed;
        bottom: 10px;
        left: 10px;
        height: 40px;
        font-family: Cera Pro;
        font-size: 20px;
        font-feature-settings: "kern";
        font-kerning: normal;
        font-stretch: condensed;
        text-rendering: optimizeLegibility;
        background-color: #f7f6f5;
        border: none;
        border-radius: 17px;
        cursor: pointer;
        z-index: 10;
        font-weight: 900;
        color: #000;
        width: 106px;
    }
    #mob_time {
        position: fixed;
        bottom: 60px;
        left: 10px;
        height: 40px;
        font-family: Cera Pro;
        font-size: 20px;
        font-feature-settings: "kern";
        font-kerning: normal;
        font-stretch: condensed;
        text-rendering: optimizeLegibility;
        background-color: #e4002b;
        color: #fff;
        border: none;
        border-radius: 17px;
        cursor: pointer;
        z-index: 10;
        font-weight: 900;
        width: 106px;
    }
}

.del_addr {
    border-radius: 8px 0;
}

.del_type {
    border-radius: 0 8px;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.deltype_inactive {
    opacity: .5;
}

.deltype_inactive:hover {
    opacity: 0.85;
}

.deltype_inactive:hover .deltype {
    opacity: 0.5 !important;
}

.sunder_eblo {
    height: 72px;
    width: auto;
}

.menu_partit_wrap {
    display: flex;
    width: 100%;
    flex-flow: column;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
}

.menu_partit_title {
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 40px;
    font-stretch: condensed;
    width: 100%;
    color: #000000;
    font-weight: 400;
}

.product {
    padding: 16px 40px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    flex-flow: column;
}

.footerab {
    width: 100%;
}

.stripes_footer_wrap {
    height: 68px;
    width: 100%;
    ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #f5f5f5;
}

.product:hover {
    background-color: #efefef;
}

.product:hover .product_img {
    transform: scale(1.1);
}

.cart-header {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    border-radius: 40px;
    padding: 20px 40px;
}

.cart-title {
    font-stretch: condensed;
    font-size: 36px;
    font-weight: 900;
    color: #000;
}

.product_img_wrap {
    height: 224px;
    width: 224px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.product_price,
.product_pricer {
    color: #e4002b;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    font-stretch: condensed;
}

.product_pricer {
    font-size: 14px;
    position: absolute;
    right: -20px;
    top: -7px;
}

.product_img {
    width: 208px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.product_price_name_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.product_name {
    font-size: 24px;
    line-height: 32px;
    font-stretch: condensed;
    color: #939290;
}

.restorant {
    height: 150px;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #f7f6f5;
    flex-flow: column;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -12px;
    margin-top: 7px;
    margin-right: 26px;
}

.addbtn {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .08);
    display: flex;
    align-items: center;
    justify-content: center;
}

.restora_header {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    font-stretch: condensed;
    color: #000;
}

.restora_subheader {
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 400;
    color: rgba(0, 0, 0, .7);
    line-height: 0.8;
}

.current_rest {
    border-style: solid;
    border-width: 2px;
    border-color: #000;
}

.cities,
.restorants {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    padding-right: .75rem;
    width: 100%;
    background-color: #fff;
    max-height: 200px;
    overflow: auto;
}

.city {
    font-size: 16px;
    padding: 7px 12px;
    background-color: #f7f6f5;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 25px;
    font-stretch: condensed;
    cursor: pointer;
    color: #000;
    margin-left: -12px;
    margin-top: 4px;
    margin-right: 20px;
}

.city:first-child {}

.city:last-child {
    margin-right: 0;
}

.citystat {
    margin: 0 5px 0 auto;
}

.delivery_options {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    background-color: #f7f6f5;
}

.delivery_input::placeholder {
    font-weight: 400;
}

.restorants {
    display: flex;
    justify-content: start;
    align-items: center;
    max-height: 400px;
}

#menu {
    margin-top: 25px;
}

.categor_eat {
    display: flex;
    flex-flow: column;
    margin-right: 10px;
    font-size: 24px;
    color: #939290;
    line-height: 32px;
    white-space: nowrap;
    font-stretch: condensed;
    padding: 16px 15px;
}

.actove {
    color: #e4002b;
    border-bottom-color: #e4002b;
    border-bottom-style: solid;
    border-bottom-width: 2;
}

.categor_eat:hover {
    color: #939290;
}

.actove:hover {
    color: #e4002b;
}

.menu_categor_wrap {
    margin-top: 15px;
    display: inline-flex;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    position: sticky;
    z-index: 8;
    top: 170px;
    background: #fff;
    border-bottom: 2px solid #f5f5f5;
    padding-bottom: 10px;
}

.wrap_menu_title {
    font-size: 10px;
}

.menu_title {
    line-height: 72px;
    font-size: 64px;
    color: #000;
    font-weight: 900;
    font-stretch: condensed;
    font-family: Cera Pro;
}

.di-t {
    padding-right: .75rem;
}

.delivery_input[disabled] {
    color: #000;
    background-color: #f7f6f5;
    font-weight: 600;
    border: none;
    cursor: pointer;
    font-family: Cera Pro;
    box-shadow: none;
}

.delivery_input {
    color: #000;
    background-color: #f7f6f5;
    font-weight: 600;
    border: none;
    font-family: Cera Pro;
    box-shadow: none;
}

.delivery_input:focus {
    border: none;
    box-shadow: none !important;
}

.delivery_input:active {
    border: none;
    box-shadow: none !important;
}

.delivery_input_wrap {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.mobile-stories::-webkit-scrollbar {
    width: 0;
    display: none;
}

.mobile-stories {
    margin-top: 15px !important;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.navbar {
    position: sticky !important;
}

html,
body {
    padding-top: 0 !important;
}

.story .last {
    margin-right: 0;
}

.navbar_brand_desktop_contry .mob {
    align-self: baseline;
}

.delline_mob {
    position: sticky;
    top: 4.5rem;
    z-index: 10;
    background: #fff;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 12 !important;
    box-shadow: 0 2px 0 0 #f5f5f5;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    ;
}

#uedrop,
#uedrop_mob {
    display: block;
}

#dropdown-menu2_mob {
    width: 100%;
}

#dropdown-menu2_mob .dropdown-content {
    border-radius: 0 0 8px 8px;
    background-color: #f7f6f5;
}

#dropdown-menu2 .dropdown-content {
    border-radius: 0 0 8px 8px;
    background-color: #f7f6f5;
}

.is-active>#ueban {
    border-radius: 8px 8px 0 0;
}

#ueban {
    border-radius: 8px 0 0 8px;
}

.restorant:hover>.restora_header,
.restorant:hover>.restora_subheader,
    {
    color: #363636;
}

#dropdown-menu2 {
    width: 100%;
}

.deskt_delline {
    position: sticky;
    top: 3.25rem;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    z-index: 9;
    box-shadow: 0 2px 0 0 #f5f5f5;
    background: #fff;
    padding-top: 10px;
}

.tipo-load {
    height: 24px;
    background-color: #f7f6f5 !important;
    border: none;
}

.tipo-load2 {
    height: 48px;
    background-color: #f7f6f5 !important;
    border: none;
    width: 100%;
}

#skidka_decor_2 {
    font-weight: 900;
    font-family: Cera Pro;
    font-stretch: condensed;
    font-size: 264px;
    position: absolute;
    top: -60px;
    color: #e4002b;
    left: 10px;
}

.skidka:hover #skidka_decor_1 {
    -webkit-transform: scale(1.2, 1.2);
}

.skidka:hover #skidka_decor_2 {
    -webkit-transform: scale(1.2, 1.2);
}

.skidka_timer {
    background-color: #fff;
    height: 100%;
    max-width: 220px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .14);
    display: flex;
    align-items: center;
    justify-content: center;
}

#vremya_d_nav {
    display: inline-flex;
    font-weight: 900;
    font-family: Cera Pro;
    color: #000;
    margin-left: 5px;
    font-size: 20px;
    font-stretch: condensed;
    line-height: 0;
}

#vremya {
    display: inline-flex;
    font-weight: 900;
    font-family: Cera Pro;
    color: #000;
    margin-left: 5px;
    font-size: 78px;
    font-stretch: condensed;
    line-height: 0;
}

#separ::after {
    content: ":";
}

#skidka_decor_2 {
    -webkit-transition: all 0.3s ease-in-out;
}

#skidka_decor_1 {
    height: 100%;
    background-image: url(/static/assets/buck.png);
    background-position: left;
    background-size: cover;
    -webkit-transition: all 0.3s ease-in-out;
    background-repeat: no-repeat;
}

.fd_c {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.deltype {
    display: flex;
    flex-flow: column wrap;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
}

.deltype span {
    color: #000;
    font-family: Cera Pro;
    font-stretch: normal !important;
    font-feature-settings: "kern";
    font-kerning: normal;
    text-rendering: optimizeLegibility;
}

.skidka {
    background-color: #f7f6f5;
    position: relative;
    overflow: hidden;
    height: 200px;
    border-radius: 8px;
    margin: 0;
}

.story {
    cursor: pointer;
    display: flex;
    background-repeat: no-repeat;
    margin-right: 8px !important;
    scroll-snap-align: start;
    flex-shrink: 0;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
}

.item-right {
    width: 100%;
    height: 100%;
    border-radius: 0px 8px 8px 0px;
}

.car {
    overflow: hidden;
}

.img-car {
    border-radius: 8px 0 0 8px;
    width: 100%;
    height: 100%;
}

.postnav {
    margin-top: 20px;
}

.nb-for-des {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.menu-item-razdel {
    font-family: Cera Pro;
    font-size: 16px;
    color: #6b6a68;
}

.menu-item-razdel:hover {
    font-family: Cera Pro;
    font-size: 16px;
    color: #6b6a68 !important;
}

.navbar .navbar-menu .navbar-start {
    flex: 1;
    justify-content: end;
}

.btn-cart img {
    max-height: 16px;
    margin-right: 5px;
}

.coookie-desktop button:focus {
    color: #fff;
    background-color: #f20632;
}

.coookie-desktop button:active {
    color: #fff;
    background-color: #f20632;
}

.coookie-desktop button:hover {
    color: #fff;
    background-color: #f20632;
}

.coookie-desktop button {
    font-weight: 400;
    font-family: Cera Pro;
    font-size: 14px;
    background-color: #e4002b;
    cursor: pointer;
    width: 100%;
    height: 48px;
    border: none;
    margin-top: 5px;
    border-radius: 4px;
    line-height: 48px;
    color: #fff;
    transition: background-color .2s ease;
}

.coookie-desktop p {
    font-size: 12px;
    line-height: 10px;
    margin: 12px 0 0;
    color: #9b9b9b;
}

.coookie-desktop h1 {
    font-weight: 900;
    font-family: Cera Pro;
    font-size: 24px;
    line-height: 0.9;
    margin-bottom: 15px;
    color: #000;
    font-stretch: condensed;
}

.loader-wrapper,
.coookie-desktop-wrap {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    opacity: 0;
    z-index: -1;
    transition: opacity .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.coookie-desktop {
    height: 200px;
    width: 325px;
    background-color: #FFF;
    padding: 24px;
    position: fixed;
    right: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .14);
    z-index: 20;
    border-radius: 8px 8px 0 0;
    bottom: 0;
}

.loader-wrapper .loader {
    height: 80px;
    width: 80px;
}

.is-actima {
    opacity: 1;
    z-index: 33;
}

.btn-cart {
    height: 40px;
    font-family: Cera Pro;
    font-size: 20px;
    font-feature-settings: "kern";
    font-kerning: normal;
    font-stretch: condensed;
    text-rendering: optimizeLegibility;
    background-color: #f7f6f5;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    font-weight: 900;
    color: #000;
}

.navbar-menu {
    margin-bottom: 10px;
}

.navbar .navbar-menu {
    align-items: flex-end;
}

.menu-item-razdel text: link,
.menu-item-razdel text: hover,
.menu-item-razdel text: active,
.menu-item-razdel {
    text-decoration: none;
    color: #6b6a68;
}

#stripes {
    position: absolute;
    top: 0;
    left: 21px;
}

.navbar_brand_desktop_contry p:active,
/* активная/посещенная ссылка */

.navbar_brand_desktop_contry p:hover,
/* при наведении */

.navbar_brand_desktop_contry p {
    text-decoration: none;
    color: #4a4a4a;
}

.navbar_brand_desktop_contry {
    align-self: flex-end;
    max-height: 46px;
    font-size: 11px;
    display: inline-flex;
}

.country_pic {
    margin-left: 5px;
    max-height: 17px !important;
}

.navbar_brand_desktop_contry .heading {
    font-style: italic;
}

.menu_partit_wrap {
    margin-top: 15px;
    width: 100%;
    flex-direction: unset;
}

.cart-items {
    width: 100%;
}

.cart-item {
    display: inline-flex;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid hsla(0, 0%, 84.7%, .4);
}

.cart-item_wrap_img {
    display: flex;
    width: 75px;
    height: 75px;
    justify-content: center;
    align-items: center;
}

.cart-item_wrap_img img {
    width: 75px;
    height: auto;
}

.cart-item_name {
    margin-left: 12px;
    font-size: 24px;
    line-height: 32px;
    color: #000;
    font-stretch: condensed;
}

.counter {
    background-color: #000;
    border-radius: 20px;
    padding: 5px 10px;
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
}

.counter_count {
    width: 45px;
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    font-stretch: condensed;
    display: inline-block;
}

.counter-minus,
.counter-plus {
    color: #fff;
    font-size: 20px;
    line-height: 23px;
    cursor: pointer;
}

.counter-delete {
    color: #e4002b;
}

.cart-sum {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.cart-total {
    font-size: 32px;
    line-height: 40px;
    font-stretch: condensed;
    color: #000;
    font-weight: 400;
}

.intt {
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
}

.filled {
    background-color: #e4002b;
}

.checkout {
    display: none;
    width: 100%;
}

.checkout.actava {
    display: block;
}

.checkout-wrap {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: 15px 0;
}

.inp-control select,
.inp-control input {
    font-family: Cera Pro;
}

.checkout-wrap form {
    width: 100%;
}

.topay {
    width: 95px;
    margin-left: 10px;
    border-radius: 20px;
    border: none;
    background-color: #e4002b;
    color: #fff;
    border: none;
}

.topay:hover {
    background-color: #e4002b;
    color: #fff;
    border: none;
    color: #efefef;
}

@media screen and (max-width: 1023px) {
    .restorants {
        align-items: center;
        justify-content: space-between;
    }
    .restorant {
        margin-left: 0;
        margin-right: 0;
    }
    .cart-title {
        font-stretch: condensed;
        font-size: 24px;
        font-weight: 900;
        color: #000;
    }
    .modal-content {
        padding: 20px;
    }
    .cart-item_wrap_img {
        width: 50px;
        height: 50px;
    }
    .cart-item_wrap_img img {
        width: 50px;
        height: auto;
    }
    .cart-item_name {
        margin-left: 0;
        font-size: 18px;
    }
    .inc {
        font-size: 24px;
    }
}